*.pem
*.pyc
*.swp
.DS_Store
/*.sql
/.cache
/.idea
/.vagrant
/apt-cache
/client/bower_components/
/client/build/
/client/css-sync-config.js
/client/install.sh
/client/node_modules/
/config/db.json
/config/main.py
/dumps
/logs
/scripts/
/scripts/uwsgi.pid
/web/static/resource/
client/npm-debug.log
css-sync
messages.mo
messages.pot
run.py
web_uwsgi.ini
