{% extends "layout/main.html" %}

{% block stylesheet %}
{% endblock %}

{% block content %}
<div class="well">
<h3>Hello, This is the DEMO web!</h3>

<p>These are testing accounts that linked to the Partner user and Admin user</p>

<h4>Partner user credentials:</h4>
<p><strong>Login as user:</strong> <code>duytestyeah1partner@gmail.com / duy123456</code> </p>

<p>These accounts below are associated with Facebook, Youtube, Dailymotion of the Testing account above. So that when you login and upload the video, the video will be published to these channels:</p>

<p><strong>FB account</strong>: <code>duytestyeah1partner@gmail.com / duy123456</code> </p>
<p><strong>Youtube account</strong>: <code>duytestyeah1partner@gmail.com / duy123456</code> [Not Done]</p>
<p><strong>Dailymotion account</strong>: <code>duytestyeah1partner@gmail.com / duy123456</code> [Not Done]</p>

<h4>Admin user credentials:</h4>

<p>This account for the admin purpose, that can list down users and videos.</p>

<p><strong>Login as admin</strong>: <code>duytestyeah1manage@gmail.com / duy123456</code> </p>
{% endblock %}

{% block javascript %}
{% endblock %}
