{% extends "layout/main.html" %}

{% block stylesheet %}
{% endblock %}

{% block content %}
<h3>List users:</h3>
<table class="table table-striped">
  <thead>
  	<tr>
  		<th>Id</th>
  		<th>Full Name</th>
  		<th>Email</th>
      <th>Videos</th>
  	</tr>
  </thead>
  <tbody>
    {% for u in users%}
  	<tr>
  		<td>{{ u.id }}</td>
  		<td>{{ u.full_name }}</td>
  		<td>{{ u.email }}</td>
      <td>{{ u.videos.count() }} - <a href="/admin/users/{{ u.id }}/videos">view</a></td>
  	</tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block javascript %}
{% endblock %}
