{% extends "layout/main.html" %}

{% block stylesheet %}
{% endblock %}

{% block content %}
<table class="table table-striped">
  <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Facebook Link</th>
        <th>Youtube Link</th>
        <th>Owner</th>
        <th>Report</th>
    </tr>
  </thead>
  <tbody>
    {% for v in videos %}
    <tr>
        <td>{{ v.id }}</td>
        <td>{{ v.name }}</td>
        {% if not v.fb_url %}
          <td>
            Not available
          </td>
        {% else %}
          <td><a href="{{ v.fb_url }}" target="_blank">View</a></td>
        {% endif %}

        {% if not v.yt_url %}
          <td>
            Not available
          </td>
        {% else %}
           <td><a href="{{ v.yt_url }}" target="_blank">View</a></td>
        {% endif %}
        <td><a href="/admin/users/{{ v.user_id }}/videos">{{ v.user.full_name }}</a></td>
        <td><a href="/admin/video_report/{{ v.id }}">view</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block javascript %}
{% endblock %}
